
/* Universal settings */
* {
  padding: 0;
  margin: 0;
  box-sizing: content-box;

  font-family: monospace;
}

:root {
  --bg-color-primary: #1b1b21;
  --bg-color-secondary: #141418;

  --text-color-normal: #e3e6e8;
  --text-color-normal-pop: white;
  --text-color-mute: #585963;
}

/* Specific selectors */
#SH__window {
  width: 300px;
  height: 400px;
  background-color: var(--bg-color-primary);
}

#SH__header {
  margin-bottom: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

#SH__order-data-container {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
  height: 275px;
  overflow-y: auto;
}

/* Re-usable selectors/bulk utilities */
.heading-primary,
.heading-secondary {
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--text-color-normal-pop);
  text-align: center;
}

.heading-secondary {
  font-size: 1.2rem;
}

.text-primary {
  font-size: 0.9rem;
  color: var(--text-color-normal);
  text-align: center;
}

.info-item {
  padding: 0.3rem;
  font-size: 1rem;
}

.dollar-value {
  color: #72f772;
}

.quantity-value {
  color: orange;
}

.weight-value {
  color: #ffbdf4;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-mute {
  color: var(--text-color-mute);
}
