

#SH__window {
  width: 225px;
  height: 450px;
  background-color: var(--bg-color-primary);
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  position: relative;
}

#SH__header {
  /* background-color: var(--bg-color-secondary); */
}

#SH__main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

#SH__content-frame {
  width: 100%;
  /* height: calc(100% - 2rem); */
  height: 100%;
  overflow-y: auto;
  /* position: absolute; */
}

#SH__toolbar {
  width: 100%;
  min-height: 24px;
  position: relative;
  background-color: var(--bg-color-primary-inset);
}

#SH__content {
  
}

#order-name {
  color: #cbcd56;
}

#process-order-btn {
  transition: all 0.2s;
  background-color: #537937;
  display: block;
  margin-inline: auto;
}

#process-order-btn:hover {
  background-color: #669344;
}

.COMPONENT__order-category {
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
}

.COMPONENT__order-category > p {
  text-align: left;
  /* font-weight: 600; */
  font-style: italic;
  font-size: calc(var(--font-size-base)*1.25);
  color: var(--text-color-mute);
  margin-bottom: 0.8rem;
}

.COMPONENT__order-category > div {
  margin-left: 1.2rem;
}

.COMPONENT__order-category > div > p {
  text-align: left;
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
}

.COMPONENT__order-category > div .quantity {
  color: orange;
}

.COMPONENT__order-category > div .money {
  color: #70cf69;
}