
/* Universal settings */
* {
  padding: 0;
  margin: 0;
  box-sizing: content-box;
  font-family: monospace;
}

:root {
  --space-multiplier: 0.2rem;
  --font-multiplier: 0.2rem;

  --bg-color-primary: #1b1b21;
  --bg-color-primary-inset: #141418;

  --text-color-title: #70eba1;
  --text-color-normal: #e3e6e8;
  --text-color-normal-pop: white;
  --text-color-mute: #585963;

  --btn-color-normal: black;

  --font-size-base: 0.9rem;

  --bg-color-scroll-bar: #4d4d4d;
  --bg-color-scroll-bar-hover: #4d4d4d;
  --bg-color-scroll-bar-track: rgba(47, 47, 51, 0.7);

  --scroll-bar-width: 8px;
}

h1, h2, h3, p {
  color: var(--text-color-normal);
  font-size: var(--font-size-base);
  text-align: center;
}

button {
  all: unset;
  padding: 0.5rem;
  color: var(--text-color-normal);
  font-size: var(--font-size-base);
  background-color: var(--btn-color-normal); 
  cursor: pointer;
}

/* DEFAULT SCROLLBAR */
::-webkit-scrollbar {
  width: var(--scroll-bar-width);
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 10px var(--bg-color-scroll-bar-track); 
  /* background-color: var(--bg-color-scroll-bar-track);  */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  /* background: #5f677e;  */
  background: var(--bg-color-scroll-bar);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--bg-color-scroll-bar); 
}
